.spinner {
  display: block;
  width: 70%;
  max-width: 100vh; 
  margin: 40px auto 0;
}

.spinner_pokeball {
    display: block;
    position: relative;

    width: 10%;
    max-width: 100vh;

    margin: 40px auto 0;

    animation: pokeballIntro 0.5s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes pokeballIntro {
    0% {
        transform:
            translate(120px, 100px)
            scale(0.5)
            rotate(60deg);
    }

    100% {
        transform:
            translate(0px, -60px)
            scale(2)
            rotate(-20deg);
    }
}